---
import BaseHead from "./BaseHead.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
  canonicalUrl?: string;
  type?: "website" | "article";
  publishedDate?: string;
}

const props = Astro.props;
---

<BaseHead {...props}>
  <Navbar />
  <main class="flex-1">
    <slot />
  </main>
  <Footer />
</BaseHead>
